*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(22, 22, 22);
}

.Hadding {
    color: aliceblue;
    font-family: sans-serif;
    position: absolute; 
    top: 130px;
    left: 550px;
    pointer-events: none;
    padding: 5px;
    border-bottom: 2px solid white;
    border-radius: 5px;
  }

.list {
    margin-top: 17%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
  
.item img {
    max-width: 150px; /* Adjust the maximum width of the images */
    max-height: 150px; /* Adjust the maximum height of the images */
    
    pointer-events: none;
}

.list .item{
    margin: 3px;
    cursor: pointer;
    transition: .5s;
    filter: brightness(.05);
}

.list .item:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}  

.list .item:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}  

.list .item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}  

.list .item:hover + * + * + *{
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);
}  

.list .item:hover + * + * + * + *{
    filter: brightness(0.1);
    transform: translateZ(10px) rotateY(5deg);
}  

.list .item:has(+ *:hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}  

.list .item:has(+ * + *:hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
}  

.list .item:has(+ * + * + *:hover){
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
}  

.list .item:has(+ * + * + * + *:hover){
    filter: brightness(0.1);
    transform: translateZ(10px) rotateY(-5deg);
}  